.order-form {
    width: 50%;
    padding-bottom: 3rem;
}
.confirm-order-btn {
    width: 100%;
}
.btn {
    background-color: #f02d34;
    border: none;
    color: white;
}
.btn:hover {
    background-color: #f52128;
    color: white;
}


@media (max-width: 600px) {
    .order-form {
        width: 90%;
    }
}
@media (max-width: 900px) and (min-width: 600px){
    .order-form {
        width: 70%;
    }
}